body {
    font-family: "Roboto Black", sans-serif;
    background-color: #ffdf3c;
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    /* Add your desired styles for each section */
}

#about,
#services,
#contact {
    /* Add your desired styles for each section */
}
